:root{
    --main-bg-color: hsla(177, 66%, 36%, 0.8);
}
#nav {
    font-family: 'Josefin Sans';
    color:whitesmoke;
    background-color: var(--main-bg-color);
    padding: 1em;
  }
  
  a:link {
    color: whitesmoke;
    padding-top: 8px;
    padding-bottom: 5px;
    font-family: 'Josefin Sans';
    
  }
  
  a:visited {
    color: whitesmoke;
  }
  
  body {
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;  
  }

#SLIDE_BG {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backface-visibility: hidden;
  animation:slideBg 40s linear infinite 0s;
  animation-timing-function: cubic-bezier(1, 0.2, 0.2, 1);
  background-image:url("/assets/images/Background1.jpg") ;
}

@keyframes slideBg {
  0% {
    background-image:url("/assets/images/Background1.jpg") ;
  }
  25% {
    background-image: url("/assets/images/Background2.jpg");
  }
  50% {
    background-image: url("/assets/images/Background3.jpg");
  }
  75% {
    background-image: url("/assets/images/Background4.jpg");
  }
} 



  h1 {
    color: whitesmoke;
    display: flex;
    justify-content: center;
    border-top: solid whitesmoke;
    border-bottom: solid whitesmoke;
    padding-bottom: 5px;
    padding-top: 8px;
    font-family: "Josefin Sans";
  
  }

.sr-only {
    color: whitesmoke;
    display: grid;
    justify-items: center;
    font-family: "Josefin Sans";
    padding-bottom: 5px;
  }
  
  .password-login {
    display: grid;
    justify-items: center;
  }
  
 .search-bar-div {
   display:flex;
   justify-content: center;
  
 }
  .landmark-search-wrapper {
    
    color:blueviolet;
  }
  
  
  .landmark-search-result-tile {
    font-family: 'Josefin Sans';
    font-size: x-large;
    color:whitesmoke;
 
  }

  .landmark-search-result-tile img {
    width:100%;
    height:100%;
  }


  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  #register{
    margin-right: 33%;
    margin-left: 33%;  
    background-color: var(--main-bg-color);
    margin-top: 2em;
    padding: 1em;
    color: whitesmoke;
    font-family: "Josefin Sans";
  }
  .landmark-details  {
    margin-right: 33%;
    margin-left: 33%;  
    background-color: var(--main-bg-color);
    margin-top: 2em;
    padding: 1em;
    color: whitesmoke;
    font-family: "Josefin Sans";
  }

  .all-itineraries {
    margin-right: 33%;
    margin-left: 33%;  
    background-color: var(--main-bg-color);
    margin-top: 2em;
    padding: 1em;
    color: whitesmoke;
    font-family: "Josefin Sans";
  }

  #manage-itinerary-button {
    margin-bottom:1em;
  }

.landmark-details img {
  height:100%;
  width:100%;
}
.landmark-details h1 {
  text-align: center;
}

#go-back-button {
  margin-bottom:5px;
}

.manage-itinerary {
  margin-right: 33%;
    margin-left: 33%;  
    background-color: var(--main-bg-color);
    margin-top: 2em;
    padding: 1em;
    color: whitesmoke;
    font-family: "Josefin Sans";
    font-size: large;
}

#itinerary-buttons {
  margin-left: 1em;
  margin-bottom: 1em;
}

.containing-feedback {
  display:flex;
  justify-content: center;
  
}
.vue-reaction img {
  width:45px;
}

#dropdown-create-delete {
  display:flex;
  justify-content: space-evenly;
}

.landmark-sort-order-wrapper{
  font-size: x-large;
}

#save-itinerary-button {
  margin-top: 1em;
}
  #login{
    margin-right: 33%;
    margin-left: 33%;  
    background-color: var(--main-bg-color);
    margin-top: 2em;
    padding: 1em;
    color: whitesmoke;
    font-family: "Josefin Sans";
  }

  #navbar {
    background-color: var(--main-bg-color);
    padding-top:5px;
    padding-bottom: 5px;
    font-size:x-large;

  }
  #home {
    padding-right: 2em;
    padding-left: 1em;
  }

  #manage-itinerary {
    padding-left: 2em;
  }
  
  #my-itineraries {
    padding-left: 2em;
  }

  #nav > a{
      padding-right: 1em;
  }
  
  .home{
    overflow-y: hidden;
  }
  @media only screen and (max-width: 1900px) {
    #dropdown-create-delete {
      display:grid;
      justify-self: center;
    }
    #four-buttons {
      display:flex;
      justify-content: center;
    }
    #addALandmark {
      margin-top:1em;
    }
    #deleteItinerary {
      margin-top:1em;
    }
    #createItinerary {
      margin-top:1em;
    }
  }
  @media only screen and (max-width: 1000px) {
    .login-box {
     border-top: solid white;
     border-bottom:solid white;     
    }
    #login-wrapper{
      margin-left: 0%;
      margin-right: 0%;
    }
    .landmark-details  {
      margin-left: 5%;
      margin-right:5%;
    }
    .manage-itinerary {
      margin-right: 5%;
      margin-left: 5%;  
    }
    #dropdown-create-delete {
      display:grid;
      justify-self: center;
    }
    #four-buttons {
      display:flex;
      justify-content: center;
    }
    #addALandmark {
      margin-top:1em;
    }
    #deleteItinerary {
      margin-top:1em;
    }
    #createItinerary {
      margin-top:1em;
    }
}


.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
  